<!DOCTYPE html>
<html>

<head>
    <title>Employee Records</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</head>

<body>
    {% include "nav.html" %}
    <div class="wrapper">
        <div>
        </div>
        <div>
        </div>
        <div>
            <div class="center-form">
                <div class="row">
                    <div class="col-sm-12">
                        <section class="signup-form">
                            {% if error_msg is not none %}   
                            <div class="alert alert-danger" role="alert">
                              {{error_msg}}
                            </div>
                            {% endif %}
                            <h2 class="text-center"> Employee Hiring Form </h2>
                                
                              <table class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th scope="col">Employee ID</th>
                                    <th scope="col">First_Name</th>
                                    <th scope="col">Last_Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Phone_Number</th>
                                    <th scope="col">Hire_Date</th>
                                    <th scope="col">Job_ID</th>
                                    <th scope="col">Salary</th>
                                    <th scope="col">Commision</th>
                                    <th scope="col">Manager</th>
                                    <th scope="col">Department</th>
                                    <th scope="col">Update</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {% for record in records -%}
                                  <form action="/employee/records" method="POST">
                                    <input name="employee_id" type="hidden" value="{{ record[0] }}">
                                  <tr>
                
                                    <th scope="row">{{ record[0] }}</th>
                                    <td>{{ record[1] }} </td>
                                    <td>{{ record[2] }}</td>
                                    <td><input class="form-control dontshrink" type="text" name="email" value="{{ record[3] }}" required></td>                                
                                    <td><input class="form-control dontshrink" type="tel" name="phone_number" value="{{ record[4] }}" required></td>
                                    <td>{{ record[5].strftime('%Y-%m-%d') }}</td>
                                    <td>{{ record[6] }}</td>
                                    <td><input class="form-control dontshrink" type="text" name="salary" value="{{ record[7] }}" required></td>
                                    <td>{{ record[8] }}</td>
                                    <td>{{ record[9] }}</td>
                                    <td>{{ record[10] }}</td>
                                    <td> <input class="btn btn-primary" type="submit" value="Update">
                                    </td>
                                  </tr>
                                </form>
                                  {% endfor %}
                                </tbody>
                              </table>

                        
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <script>

        </script>

</body>